# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
backend/.env
frontend/.env

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Build
dist/
build/

# Misc
coverage/
.env.local
.env.development.local
.env.test.local
.env.production.local
